.Activity-Right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media screen and (max-width: 768px) {
    .Activity-Right {
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media screen and (max-width: 600px) {
    .Activity-Right {
        left: 0;
        right: unset;
    }
}

@media screen and (max-width: 510px) {
    .Activity-Right {
        left: unset;
        right: 0;
    }

    .row .Info {
        flex-basis: unset;
    }
}